* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* list-style: none; */
  font-family: "MyFont";
  scroll-behavior: smooth;
}
body {
  background-color: var(--of-white);
}
.home-icon svg {
  width: 20px;
  height: 20px;
}
/* !Donate section links */

.donate-btn {
  background-color: var(--main);
  border: none;
  padding: 10px 20px;
  margin: auto 20px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white);
  text-transform: capitalize;
  font-size: var(--font-base);
  font-weight: 500;
}
/* end of donate */

/* !navbar */

header {
  border-bottom: 1px solid var(--main);
  position: sticky;
  top: 0;
  z-index: 10000; /* Ensure it sits above other content */
  
}
.navbar {
  background-color: var(--head); /* Ensure background color */
  display: flex;
  justify-content: space-between;
  /* set logo */
  & .ngo-branding {
    display: flex;
    align-items: center;
    & h1 {
      color: var(--white);
      text-transform: capitalize;
      font-size: calc(var(--font-lg) + 4px);
    }
  }
  & .ngo-branding img {
    height: 100px;
    filter: invert(1);
  }
  /* navbar components */
  & .otr-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    /* margin: 0px 20px; */
    & ul {
      list-style: none;
      display: flex;
      gap: 20px;
      & li a {
        text-decoration: none;
        position: relative; /* Needed for ::after */
        padding: 5px 0; /* Give room for underline */
        font-size: var(--font-lg);
        color: var(--white);
        text-transform: capitalize;
        font-weight: 500;
      }
    }
  }
}

/* Create the underline */
.otr-components ul li a::after {
  content: "";
  position: absolute;
  bottom: 0; /* stick to bottom of text */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* Start invisible */
  height: 2px; /* Thickness of underline */
  background-color: var(--white);
}

/* On hover, animate underline */
.otr-components ul li a:hover::after {
  width: 100%; /* Expands left → right */
  opacity: 1; /* Make visible */
}

#active::after {
  content: "";
  position: absolute;
  bottom: 0; /* stick to bottom of text */
  left: 50%;
  height: 2px; /* Thickness of underline */
  background-color: var(--white);
  width: 100%;
  opacity: 1;
}
/* End of navbar */

/* !footer */

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  & img {
    height: 280px;
    margin-top: -30px;
    filter: invert(1);
  }
}
.address {
  text-transform: capitalize;
  & h3 {
    font-size: var(--font-lg);
    margin-bottom: 10px;
    margin-left: -10px;
    text-transform: uppercase;
  }
  & p {
    font-size: var(--font-sm);
    line-height: var(--line-hight);
    letter-spacing: 1px;
  }
}
.footer-content {
  background-color: var(--black);
  color: var(--white);
}
.copyright {
  text-align: center;
  padding: 20px 0 10px 0;
  & p {
    margin: 5px 0;
  }
  & p:last-child {
    font-size: var(--font-sm);
    color: var(--white);
    font-size: calc(var(--font-sm) - 5px);
    font-family: "Courier New", Courier, monospace;
  }
}

/* *quick link */
.footer-content-box {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
  margin: auto 40px;
}
.footer-details {
  margin-left: 65px;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  width: 50vw;
  flex-wrap: wrap;
}
.footer-content-box div {
  & h3 {
    font-size: var(--font-lg);
    margin-bottom: 10px;
    margin-left: -10px;
    text-transform: uppercase;
  }
  & p {
    font-size: var(--font-sm);
    line-height: var(--line-hight);
    letter-spacing: 1px;
    font-family: "MyFont", monospace;
    margin: 5px 0;
  }
}
.quick-link ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  & li a {
    text-decoration: none;
    font-size: var(--font-sm);
    color: var(--white);
    text-transform: capitalize;
    transition: all 0.3s ease;
    padding: 2px 3px;
    &:hover {
      color: var(--foot);
      border-bottom: 1px solid var(--foot);
    }
  }
}

.timing {
  margin-top: 10px;
  & h4 {
    margin-left: -5px;
  }
}

/* *social media */
.social-media {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  & ul {
    display: flex;
    gap: 60px;
    & li {
      list-style: none;
    }
  }
}

.social-media a {
  display: flex;
  text-decoration: none;
  border: 1px solid var(--white);
  border-radius: 50%;
  transition: all 0.3s ease;
  & svg {
    color: var(--white);
    margin: 10px;
    font-size: var(--font-sm);
    text-decoration: none;
    transition: all 0.3s ease;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
}

.social-media a:hover {
  border-color: var(--main-2);
  & svg {
    /* color: #bbff5d; */
    width: 32px;
    height: 32px;
    transform: scale(1.2);
    color: var(--main-2);
  }
}
/* .social-media a svg:hover {
} */
/* footer end */

/* !hr line */
.hr {
  display: flex;
  justify-content: center;
  align-items: center;
  & hr {
    border: 0;
    background: var(--head);
    height: 1px;
    opacity: 0.5;
    width: 100%;
  }
}

/* !back to top button */
.back-top a {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background-color: var(--text);
  filter: drop-shadow(0px 0px 5px #00000070);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000; /* Ensure it sits above other content */
  color: var(--white);
}
.back-top svg {
  width: 24px;
  height: 24px;
  fill: var(--white);
}
.back-top a:hover {
  /* background-color: #bbff5d; */
  transition: all 0.3s ease;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 0px 5px var(--white));
}
/* End of back to top button */

/* !Fade if animation */
.fade-in {
  opacity: 0;
  transform: translateY(40%); /* little slide-up effect */
  transition: opacity 3s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0%);
}
