/* typography.css */
:root {
  --font-sm: clamp(14px, 1.2vw, 16px); /* small */
  --font-base: clamp(16px, 1.6vw, 18px); /* body */
  --font-lg: clamp(18px, 2vw, 20px); /* large body */
  --font-xl: clamp(24px, 3vw, 32px); /* h2 */
  --font-xxl: clamp(32px, 4vw, 48px); /* h1 */
  --line-height: 1.6;
}
@font-face {
  font-family: 'MyFont'; /* you can name it whatever you want */
  src: url('./src/fonts/myFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 